{{ define "diagnostic" }}
    <!DOCTYPE html>
    <html style="height:100%;">
        {{ template "imports" }}
        <body style="height:100%; background-color: dimgray">
            <!-- Image and text -->
            <div style="height:100%; width: 100%;">
                {{ template "navibar" }}
                <div class="card-group" style="width: 100%;">
                    {{ template "imap-status" .ImapSt }}
                    {{ template "dao-status" .DaoSt }}
                    {{ template "disc-status" .DiscSt }}
                </div>
            </div>
        </body>
    </html>
{{ end }}